
<body>


    
    <div class="content">
    <h1 class="inicio" style="margin-bottom: 1%;">¿Que se propone este team?</h1>
<p class="textoH">
    Este gran equipo formado por un gran grupo de personas y amigos, se propone poder consolidarse en una gran empresa en el area de desarollo
    y software, creemos en que cuando un grupo de personas se lo propone logra muchas cosas y eso es lo que queremos proponernos.
</p>

<h1 class="inicio" style="margin-bottom: 1%;">¿Cual es la base de nuestra propuesta?</h1>
<p class="textoH">
    Mi propuesta es que nos propongamos una meta ambiciosa pero alcanzable: convertirnos en la empresa líder en nuestro mercado local. ¿Cómo podemos lograr esto? Primero, debemos seguir enfocándonos en la calidad de nuestro trabajo, asegurándonos de que nuestros productos sean de primera clase y satisfagan las necesidades de nuestros clientes.

También debemos estar siempre al tanto de las últimas tendencias en tecnología y estar dispuestos a adaptarnos a medida que el mercado cambie. Esto significa invertir en capacitación y desarrollo de nuestro equipo, así como estar abiertos a nuevas ideas y formas de trabajar.

Finalmente, debemos mantener una cultura empresarial sólida y colaborativa, en la que todos los miembros del equipo se sientan valorados y puedan contribuir al éxito de la empresa.

Creo que si nos enfocamos en estos aspectos y trabajamos juntos como equipo, podemos lograr nuestra meta de convertirnos en la empresa líder en nuestro mercado local en los próximos 5 años. ¡Estoy emocionado de ver lo que podemos lograr juntos!
</p>



<h1 class="inicio" style="margin-bottom: 1%;">¿Que podemos hacer?</h1>
<p class="textoH">
Esta empresa brinda a sus trabajadores lo mejro para que puedan sentrise comodos, por eso hemos decidido
que nuestros empleados podran tener libertad de trabajar con mas empresas, claro con el permiso requerido y 
que no intervenga con los horarios y labores con nuestros compromisos   
</p>

<p class="textoH">
    Puedes comunicarte con nuestros empleados por medio de nuestras redes sociales o por medio de nuestro portafolio
    interno de la empresa.   
    </p><br>


</div>

<!--card-->




<h1 class="inicio" style="margin-bottom: 1%;">Reglamento</h1>
<p class="textoH">
    EsEste es el reglamento para que nuestros empleados puedan trabajar fuera de nuestra empresa bajo contrato:
</p><br>

<ol style="font-size: 28px;">
    <li>No poder filtrar información de nuestrab empresa.</li>
    <li>firmar contratos de forma legal</li>
    <li>tendremos ganancias del 30% de dichos tratos</li>
    <li>Usar la cuenta empresarial.</li>
    <li>No ocupar tiempo del horario laboral.</li>
   
    
  </ol>

</body>

